.task-check {
	width: 10px;
}

.task-duration {
	text-align: right;
	width: 10em;
}

.task-started-icon {
	width: 25px;
}

.task-button {
	width: 20px;
}

.row-client {
	color: brown;
	font-weight: bold;
}

.table-header {
	margin-top: 60px;
	opacity: 0.5;
}

.table-body {
	margin-top: 155px;
}