.task-check {
	width: 10px;
}

.task-duration {
	text-align: right;
	width: 10em;
}

.task-started-icon {
	width: 25px;
}

.task-button {
	width: 20px;
}

.row-client {
	color: brown;
	font-weight: bold;
}

.tasks-table-body {
	margin-top: 50px;
}

.fixed-header {
	background-color:#fff;
}

.board-name {
	border: 1px solid #007bff;
	border-radius: 10px;
	color: brown;
	padding-left: 5px;
}

.standard-page-container {
	margin-top: 85px;
}

.toolbar-btn {
	-webkit-appearance: initial !important;
	margin-right: 1px;
}