<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head('Clients')">
	<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="header :: menu(${boards}, ${currentBoard})">
		Navigation bar
	</nav>
	<div class="container standard-page-container">
		<div class="row justify-content-md-center">
			<form th:action="@{/client/add}" th:object="${new_client}" method="post">
			<input type="text" id="name" th:field="*{name}" />
			<input type="submit" value="Add"/>
			</form>
			
			<table style="border: 1px solid black;">
				<thead>
					<tr>
						<th th:text="${columns.get('id')}"></th>
						<th th:text="${columns.get('name')}"></th>
						<th/>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client: ${clients}">
						<td th:text="${client.getId()}">id</td>
						<td th:text="${client.getName()}">name</td>
						<td><a class="btn btn-danger btn-sm" th:href="@{/client/delete/{clientId}(clientId=${client.id})}">delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>