<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head('Tasks')">
	<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="header :: menu(${boards}, ${currentBoard})">
		Navigation bar
	</nav>
	<div class="container-fluid standard-page-container">
		<h1 th:text="${currentBoard.name}">Board</h1>
		<br></br>
		<h2 th:text="${invoice.id} != 0 ? 'Edit invoice' : 'Add invoice'">Edit invoice</h2>
		
		<br></br>
		<form th:action="@{/invoice/edit/{invoiceId}(invoiceId=${invoice.id})}" th:object="${invoice}" method="post">
			<input type="hidden" th:field="*{id}"/>
			<div class="form-group">
				<input type="text" th:field="*{number}" class="form-control" placeholder="Number"/>
			</div>
			<div class="form-group">
				<input type="text" name="date" th:value="${#dates.format(invoice.date, 'dd.MM.yyyy HH:mm')}" class="form-control" placeholder="Date"/>
			</div>
			<div class="form-group">
				<select th:field="*{client}" class="custom-select">
                    <option value="0" th:selected="${client == null}">&lt;not selected&gt;</option>
                    <th:block th:each="client: ${clients}">
                        <option th:value="${client.id}" th:selected="${invoice.client==null ? false : invoice.client.id==client.id}"
                                th:text="${client.name}">
                            Client
                        </option>
                    </th:block>
                </select>
			</div>
			
			<br></br>
			<table class="table">
				<thead>
					<tr>
						<th>No</th>
						<th>Description</th>
						<th>Task</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Amount</th>
						<th>
							<button type="submit" name="addRow">Add row</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, rowStat: *{items}">
						<td th:text="${rowStat.count}">1</td>
						<td>
							<input type="hidden" th:field="*{items[__${rowStat.index}__].id}"/>
							<input type="text" th:field="*{items[__${rowStat.index}__].description}" class="form-control" placeholder="Description"/>
						</td>
						<td>
							<select th:field="*{items[__${rowStat.index}__].task}" class="custom-select">
			                    <option value="0" th:selected="${item.task == null}">&lt;not selected&gt;</option>
			                    <th:block th:each="task: ${tasks}">
			                        <option th:value="${task.id}" th:selected="${item.task == null ? false : item.task.id==task.id}"
			                                th:text="${task.name}">
			                            Task
			                        </option>
			                    </th:block>
			                </select>
						</td>
						<td>
							<input type="text" th:field="*{items[__${rowStat.index}__].quantity}" class="form-control" placeholder="Quantity"/>
						</td>
						<td>
							<input type="text" th:field="*{items[__${rowStat.index}__].price}" class="form-control" placeholder="Price"/>
						</td>
						<td>
							<input type="text" th:field="*{items[__${rowStat.index}__].amount}" class="form-control" placeholder="Amount"/>
						</td>
						<td>
							<button type="submit" name="removeRow" th:value="${rowStat.index}">Remove row</button>
						</td>
					</tr>
				</tbody>
			</table>
			
			<input type="submit" value="Save"/>
		</form>
	</div>
</body>
</html>