<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head('Tasks')">
	<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="header :: menu(${boards}, ${currentBoard})">
		Navigation bar
	</nav>
	<div class="container-fluid">
		<h1 th:text="${currentBoard.name}">Board</h1>
		<br></br>
		<h2 th:text="${task.id} != null ? 'Edit task' : 'Add task'">Edit task</h2>
		<br></br>
		<form th:action="${task.id} != null ? @{/task/edit/{taskId}(taskId=${task.id})} : @{/task/add}" th:object="${task}" method="post">
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" id="input-client-id" name="client_id" th:value="${client_id}"/>
			<div class="form-group">
				<input type="text" id="input-client-name" th:field="*{client.name}" class="form-control" placeholder="Select client"/>
			</div>
			<div class="form-group">
				<input type="text" th:field="*{name}" class="form-control" placeholder="Task name"/>
			</div>
			<input type="submit" value="Save"/>
		</form>
		
<!-- 		<table class="table"> -->
<!-- 			<thead> -->
<!-- 				<tr> -->
<!-- 					<th th:text="${columns.get('name')}"></th> -->
<!-- 					<th th:text="${columns.get('duration')}"></th> -->
<!-- 					<th></th> -->
<!-- 					<th/> -->
<!-- 				</tr> -->
<!-- 			</thead> -->
<!-- 			<tbody> -->
<!-- 				<tr th:each="task: ${tasks}"> -->
<!-- 					<td th:text="${task.getName()}" th:href="@{/task/{taskId}(taskId=${task.id})}">name</td> -->
<!-- 					<td th:text="${task.getDuration()}">duration</td> -->
<!-- 					<td><a class="btn btn-danger btn-sm" th:href="@{/task/delete/{taskId}(taskId=${task.id})}">delete</a></td> -->
<!-- 					<td> -->
<!-- 						<a class="btn btn-primary btn-sm" th:if="${!task.isStarted()}" th:href="@{/task/start/{taskId}(taskId=${task.id})}">Start</a> -->
<!-- 						<a class="btn btn-warning btn-sm" th:if="${task.isStarted()}" th:href="@{/task/stop/{taskId}(taskId=${task.id})}">Stop</a> -->
<!-- 					</td> -->
<!-- 				</tr> -->
<!-- 			</tbody> -->
<!-- 		</table> -->
	</div>
	
	<script th:inline="javascript">
		$(document).ready(
				function() {
		
		    /*<![CDATA[*/
	        var url = /*[[@{/searchClient}]]*/ 'url';
		    /*]]>*/
		    
		    var response = [];
	       
	        $('#input-client-name').typeahead({
	        	highlight: true
	        }
	        , {
	            source: function (query, process, process) {
	                return $.post(
	                		url,
	                		{query: query}, 
	                		function (response) {
	                			console.log(response);
	                			var data = new Array();
	                            //преобразовываем данные из json в массив
	                            $.each(response, function(i, obj)
	                            {
	                              data.push(obj);
	                            });
	                			
	                            return process(data);
	                    		}
	                		);
	            }
            	, display: function (obj) {
            		return obj.name;
            	}
	        });	        
	        
	        function updateSelectionData(obj){
	        	$('#input-client-id').val(obj.id);
	        	$('#input-client-name').val(obj.name);
	        }
	        
	        $('#input-client-name').bind('typeahead:select', function(ev, suggestion) {
	        	  console.log('Selection: ' + suggestion);
	        	  updateSelectionData(suggestion);
	        	});		
	        $('#input-client-name').bind('typeahead:autocomlete', function(ev, suggestion) {
	        	  console.log('Autocomlete: ' + suggestion);
	        	  updateSelectionData(suggestion);
	        	});		
		 });
  </script>
	
</body>
</html>