<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head('Tasks')">
	<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="header :: menu(${boards}, ${currentBoard})">
		Navigation bar
	</nav>
	<div class="container-fluid standard-page-container">
		<h1 th:text="${currentBoard.name}">Board</h1>
		<br></br>
		<h2 th:text="${task.id} != null ? 'Edit task' : 'Add task'">Edit task</h2>
		<br></br>
		<form th:action="${task.id} != null ? @{/task/edit/{taskId}(taskId=${task.id})} : @{/task/add}" th:object="${task}" method="post">
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" id="input-client-id" name="client_id" th:value="${client_id}"/>
			<div class="form-group">
				<input type="text" id="input-client-name" th:field="*{client.name}" class="form-control" placeholder="Select client"/>
			</div>
			<div class="form-group">
				<input type="text" th:field="*{name}" class="form-control" placeholder="Task name"/>
			</div>
			<input type="submit" value="Save"/>
		</form>
		
		<br></br>
		<table class="table">
			<thead>
				<tr>
					<th th:text="Id">Id</th>
					<th th:text="User">User</th>
					<th th:text="From">From</th>
					<th th:text="To">To</th>
					<th th:text="Duration">Duration</th>
					<th/>
				</tr>
			</thead>
			<tbody>
				<tr th:each="timeInterval: ${task.timeIntervals}">
					<td>
						<a th:href="@{/timeInterval/{timeIntervalId}(timeIntervalId=${timeInterval.id})}" th:text="${timeInterval.id}">id</a>
					</td>
					<td th:text="${timeInterval.performer.name}">user</td>
					<td th:text="${timeInterval.startTime}">from</td>
					<td th:text="${timeInterval.stopTime}">to</td>
					<td th:text="${durationFormatter.formatDuration(timeInterval.duration)}">duration</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script th:inline="javascript">
		$(document).ready(
				function() {
		
		    /*<![CDATA[*/
	        var url = /*[[@{/searchClient}]]*/ 'url';
		    /*]]>*/
		    
		    var response = [];
	       
	        $('#input-client-name').typeahead({
	        	highlight: true
	        }
	        , {
	            source: function (query, process, process) {
	                return $.post(
	                		url,
	                		{query: query}, 
	                		function (response) {
	                			console.log(response);
	                			var data = new Array();
	                            //преобразовываем данные из json в массив
	                            $.each(response, function(i, obj)
	                            {
	                              data.push(obj);
	                            });
	                			
	                            return process(data);
	                    		}
	                		);
	            }
            	, display: function (obj) {
            		return obj.name;
            	}
	        });	        
	        
	        function updateSelectionData(obj){
	        	$('#input-client-id').val(obj.id);
	        	$('#input-client-name').val(obj.name);
	        }
	        
	        $('#input-client-name').bind('typeahead:select', function(ev, suggestion) {
	        	  console.log('Selection: ' + suggestion);
	        	  updateSelectionData(suggestion);
	        	});		
	        $('#input-client-name').bind('typeahead:autocomlete', function(ev, suggestion) {
	        	  console.log('Autocomlete: ' + suggestion);
	        	  updateSelectionData(suggestion);
	        	});		
		 });
  </script>
	
</body>
</html>