<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head('Tasks')">
	<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="header :: menu(${boards}, ${currentBoard})">
		Navigation bar
	</nav>
	<div class="container-fluid">
		<div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content justify-content-center">
			<h1 th:text="${currentBoard.name}">Board</h1>
			<p></p>
			
			<div>
				<a class="btn btn-primary btn-sm" href="/task/add/">New task</a>
			</div>
			<p></p>
			
			<table class="table table-sm table-hover tasks">
				<tbody>
					<th:block th:each="clientData: ${tasksView.getClients()}">
						<tr class="row-client">
							<td class="task-check">
								<input type="checkbox"></input>
							</td>
							<td class="task-name" th:text="${clientData.client} == null ? 'Client not selected' : ${clientData.client.getName()}">Client name</td>
							<td class="task-duration" th:text="${durationFormatter.formatDuration(clientData.duration)}"></td>
							<td class="task-started-icon">
							</td>
							<td class="task-button">
							</td>
						</tr>
						<tr th:each="task: ${tasksView.getClientTasks(clientData.client)}" th:if="${task!=null}">
							<td class="task-check">
								<input type="checkbox"></input>
							</td>
							<td class="task-name">
								<a th:text="${task.getName()}" th:href="@{/task/edit/{taskId}(taskId=${task.id})}">Edit task</a>
							</td>
							<td class="task-duration" th:text="${durationFormatter.formatDuration(task.duration)}">duration</td>
	<!-- 						<td><a class="btn btn-danger btn-sm" th:href="@{/task/delete/{taskId}(taskId=${task.id})}">delete</a></td> -->
							<td class="task-started-icon">
								<img alt="task started" src="/pictures/timer.gif" th:if="${task.isStarted()}"></img>
							</td>
							<td class="task-button">
								<a class="btn btn-primary btn-sm" th:if="${!task.isStarted()}" th:href="@{/task/start/{taskId}(taskId=${task.id})}">Start</a>
								<a class="btn btn-warning btn-sm" th:if="${task.isStarted()}" th:href="@{/task/stop/{taskId}(taskId=${task.id})}">Stop</a>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>