<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head('Tasks')">
	<meta charset="UTF-8"/>
</head>
<body>
	<header th:replace="header :: menu(${boards}, ${currentBoard})">
		Navigation bar
	</header>
	<div th:fragment="header2" th:remove="tag">
		<div class="fixed-header">
			<div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content justify-content-center">
				<div class="row">
					<div class="col-sm">
						<h3 th:text="${currentBoard.name}" class="board-name">Board</h3>
					</div>
					<div class="col-sm">
						<ul class="nav nav-pills table-head" role="group" aria-label="Task statuses">
							<th:block th:each="status: ${taskStatuses}">
								<li class="nav-item">
				  					<a class="nav-link btn-info btn-sm" th:classappend="${status==currentStatus} ? 'active' : ''" th:href="@{/tasks(status=${status.name()})}" th:text="${status.toString()}">Status</a>
				  				</li>
							</th:block>
						</ul>
					</div>
				</div>
				
				<div class="btn-toolbar table-head" role="toolbar" aria-label="Tasks toolbar">
				  <a type="button" class="btn btn-sm btn-primary toolbar-btn" href="/task/add/">New task</a>
				  <a type="button" class="btn btn-sm btn-info toolbar-btn">Multitask mode</a>
				  <a type="button" class="btn btn-sm btn-secondary toolbar-btn">Stop all tasks</a>
				  <div class="dropdown show">
					  <a class="btn btn-sm btn-secondary dropdown-toggle toolbar-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Set status
					  </a>
					
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					  	<th:block th:each="status: ${nextTaskStatuses}">
							<form th:action="@{/task/set_status/}" method="post" onSubmit="return getSelectedTasks(event)">
								<input type="hidden" name="status" th:value="${status}"/>
								<input type="hidden" name="selectedTasks" value="none"/>
								<button class="dropdown-item" type="submit" th:text="${status.toString()}">Action</button>
							</form>
					    </th:block>
					  </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div class="container-fluid table-header fixed-top"> -->
<!-- 		<div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content justify-content-center"> -->
<!-- 			<h1 th:text="${currentBoard.name}">Board</h1> -->
<!-- 			<div class="fixed-top1"> -->
<!-- 				<a class="btn btn-primary btn-sm" href="/task/add/">New task</a> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<div class="container-fluid tasks-table-body">
		<div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content justify-content-center">
			
			
			
			<table class="table table-sm table-hover tasks">
				<tbody>
					<th:block th:each="clientData: ${tasksView.getClients()}">
						<tr class="row-client">
							<td class="task-check">
								<input type="checkbox" th:id="${clientData.client} == null ? 'client' : 'client' + ${clientData.client.getId()}"></input>
							</td>
							<td class="task-name" th:text="${clientData.client} == null ? 'Client not selected' : ${clientData.client.getName()}">Client name</td>
							<td class="task-duration" th:text="${durationFormatter.formatDuration(clientData.duration)}"></td>
							<td class="task-started-icon">
							</td>
							<td class="task-button">
							</td>
						</tr>
						<tr th:each="task: ${tasksView.getClientTasks(clientData.client)}" th:if="${task!=null}">
							<td class="task-check">
								<input type="checkbox" th:value="${task.id}" name="task_check_id"></input>
							</td>
							<td class="task-name">
								<a th:text="${task.getName()}" th:href="@{/task/edit/{taskId}(taskId=${task.id})}">Edit task</a>
							</td>
							<td class="task-duration" th:id = "|duration_${task.id}|" th:classappend="${task.isStarted()} ? task-started-duration" th:text="${durationFormatter.formatDuration(task.duration)}">duration</td>
	<!-- 						<td><a class="btn btn-danger btn-sm" th:href="@{/task/delete/{taskId}(taskId=${task.id})}">delete</a></td> -->
							<td class="task-started-icon">
								<img alt="task started" src="/pictures/timer.gif" th:if="${task.isStarted()}"></img>
							</td>
							<td class="task-button" th:if="${currentStatusInProgress}">
								<a class="btn btn-primary btn-sm" th:if="${!task.isStarted()}" th:href="@{/task/start/{taskId}(taskId=${task.id})}">Start</a>
								<a class="btn btn-warning btn-sm" th:if="${task.isStarted()}" th:href="@{/task/stop/{taskId}(taskId=${task.id})}">Stop</a>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
    	/*<![CDATA[*/
	    function getSelectedTasks(event){
			var res = [];
			$("input[name=task_check_id]:checked").each(function(i){
		          res[i] = $(this).val();
	        });
			//alert('a= ' + res);
			
			res = res.join();
			$("input[name='selectedTasks']").each(function(i){
		          $(this).val(res);
	        });
			
			return true;
		}
	    /*]]>*/
	    
	    jQuery(document).ready(function(){
		   start_duration_timer();
		});
	    
	    function start_duration_timer(){
	        setInterval(function(){
	        	$(".task-started-duration").each(function(i){
	        		var id = $(this).prop("id").replace("duration_", "");
	        		$.get("getTaskDuration", {id: id}, function(data) { // get from controller
		        		//$("#duration_"+id).replaceWith(data); // update snippet of page
		        		$("#duration_"+id).html(data);
		            });
		        });
	        }, 
	        60*1000);
	    };
	</script>
<!-- 	<script type="text/javascript"> -->
<!-- // 		$(document).ready(function (){ -->
<!-- // 			$('input:checkbox').click(function (){ -->
<!-- // 				var ok=this.checked; -->
<!-- // 				//this.checked=!ok; -->
<!-- // 				$(this).next().find('input:checkbox').each(function (){ -->
<!-- // 					this.checked=ok; -->
<!-- // 				}); -->
<!-- // 				if (ok) { -->
<!-- // 					$(this).parents('li').children('input:checkbox').each(function (){ -->
<!-- // 						this.checked=true; -->
<!-- // 					}); -->
<!-- // 				} else { -->
<!-- // 					$(this).parent().parents('li').each(function (){ -->
<!-- // 						if ($(this).find('input:checked').length>1) return false; -->
<!-- // 						$(this).children('input:checkbox').get(0).checked=false; -->
<!-- // 					}); -->
<!-- // 				}; -->
<!-- // 			}); -->
<!-- // 		}); -->
<!-- 	</script> -->
</body>
</html>